<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FormGet</servlet-name>
        <servlet-class>FormGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormPost</servlet-name>
        <servlet-class>FormPost</servlet-class>
    </servlet><!--
    <servlet>
        <servlet-name>HelloPost</servlet-name>
        <servlet-class>HelloPost</servlet-class>
    </servlet>-->
    <servlet-mapping>
        <servlet-name>FormGet</servlet-name>
        <url-pattern>/FormGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormPost</servlet-name>
        <url-pattern>/FormPost</url-pattern>
    </servlet-mapping><!--
    <servlet-mapping>
        <servlet-name>HelloPost</servlet-name>
        <url-pattern>/HelloPost</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>